*.ipch
*.vsidx
*.opendb
*.pdb
*.db
.vs/DelusiveEngine/CopilotIndices/17.14.698.11175/CodeChunks.db
*.db
.vs/DelusiveEngine/CopilotIndices/17.14.698.11175/CodeChunks.db
.vs/DelusiveEngine/v17/Browse.VC.db
*.db
